/* used fonts from google fonts */
* {
  margin: 0;
  padding: 0;
}

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared css code */

.text-primary-color {
  color: rgb(13, 19, 33);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 150px;
}
.nav-title {
  font-size: 28px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul li {
  text-decoration: none;
  list-style: none;
}

.download-resume-btn {
  width: 228px;
  height: 58px;
  padding: 17px 20px 17px 20px;
  font-family: Azeret Mono;
  font-size: 18px;
  font-weight: 600;
  background-color: white;
}

.banner {
  background-image: url(../assets/Hero-bg.png);
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-header {
  height: 136px;
  padding: 0px;
  margin: 24px 0px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  text-align: center;
}
.banner-contet {
  width: 852px;
  height: 52px;
  align-items: center;
  padding: 0px;
  margin: 24px 0px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  opacity: 0.7;
}

.contact-with-me-btn {
  width: 208px;
  height: 66px;
  padding: 21px 24px 21px 24px;
  margin: 32px 0px;
  border-radius: 8px;
  background: rgb(13, 19, 33);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
}
.why-webdev-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  margin: 24px 0px;
  padding: 80px 97px 80px 97px;
}

.wwhy-webdev-header-section-title {
  margin: 24px 0px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  text-align: center;
}

.why-webdev-header-section-description {
  padding: 0px;
  margin: 24px 0px;
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  opacity: 0.7;
}
.why-webdev-section-content-header {
  padding: 0px;
  margin: 16px 0px;
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}

.why-webdev-section-content-description {
  padding: 0px;
  margin: 16px 0px;
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.7;
}
.webdev-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0px 10px;
}
.learn-more-btn {
  width: 180px;
  height: 48px;
  padding: 12px 20px 12px 20px;
  margin: 32px 0px;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}

.inpiration-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  text-align: center;
  margin-left: 292px;
  margin-right: 296px;
}
.inpiration-section-header {
  padding: 0px;
  margin: 24px 0px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}
.inpiration-section-description {
  padding: 0px;
  margin: 24px 0px;
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}
.iframe {
  width: 1076px;
  height: 550px;
  margin: 10px 0px;
  border-radius: 16px;
  background: url(https://www.youtube.com/embed/Eg7AD_Ct_jY);
  padding: 32px;
  margin: 48px 0px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
}

.target-section {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
}
.target-section-header-title {
  padding: 0px;
  margin: 24px 0px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}
.target-section-description {
  padding: 0px;
  margin: 24px 0px;
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}
.skill-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.card {
  width: 364px;
  height: 300px;
  padding: 40px;
  margin: 0px 24px;
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
}
.card-header {
  padding: 0;
  margin: 8px, 0px;
  color: rgb(13, 19, 33);
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}
.card-description {
  padding: 0;
  opacity: 0.7;
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}

.card-inside-link {
  padding: 0;
  margin: 24px, 0px;
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}
a {
  text-decoration: underline;
  color: black;
}
.next-target-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  margin: 111px 0px;
}
.next-skill-target {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  margin: 111px 0px;
}
.crad-next-skill-target {
  width: 1140px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px;
  margin: 0px 24px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
}
